.timer-root {
  --size: 410px;

  @include size(var(--size), var(--size));
  @include flex-center;

  @include mobile {
    --size: 300px;
  }

  position: relative;
  background: linear-gradient(315deg, #2e325a 0%, #0e112a 100%);
  border-radius: 100%;
  box-shadow:
    50px 50px 100px 0 #0e112a,
    -50px -50px 100px 0 #2e325a;

  &--margin {
    margin-top: 45px;
  }
}

.timer-inner {
  --size: 366px;

  @include size(var(--size), var(--size));
  @include flex-center;

  @include mobile {
    --size: 268px;
  }

  position: relative;
  background: #0e112a;
  border-radius: 100%;
}

.timer-progress {
  --total: 25;
  --progress: 18;
  --size: 340px;
  --stroke-width: 12px;
  --center: calc(var(--size) / 2);
  --radius: calc((var(--size) - var(--stroke-width)) / 2);
  --circumference: calc(2 * pi * var(--radius));
  --dash: calc((var(--progress) * var(--circumference)) / var(--total));
  --gap: calc(var(--circumference) - var(--dash));

  @include size(var(--size), var(--size));

  @include mobile {
    --size: 249px;
    --stroke-width: 8px;
  }
}

.timer-progress-circle {
  transform-origin: var(--center) var(--center);
  transform: rotate(-90deg);

  cx: var(--center);
  cy: var(--center);
  r: var(--radius);
  fill: none;
  stroke: var(--color-accent);
  stroke-dasharray: var(--dash) var(--gap);
  stroke-linecap: round;
  stroke-width: var(--stroke-width);

  transition: stroke-dasharray 0.5s linear 0s;

  .timer-progress--finished & {
    animation: 0.3s fade-out 0.3s ease-out both;
  }
}

.count-text {
  dominant-baseline: middle;
  text-anchor: middle;
  fill: var(--color-text);
}

.sub-text {
  cursor: pointer;

  dominant-baseline: middle;
  text-anchor: middle;
  fill: var(--color-text);

  transition: fill 0.3s;

  &:hover {
    fill: var(--color-accent);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
