@import 'normalize.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100svh;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-text);

  background: #1e213f;
}

.h1 {
  font: 700 100px / 120px var(--font-family);
  letter-spacing: -0.05em;
}

.h2 {
  font: 700 28px / 34px var(--font-family);
}

.h3 {
  font: 700 16px / 19px var(--font-family);
  text-transform: uppercase;
  letter-spacing: 0.94em;
}

.h4 {
  font: 700 13px / 16px var(--font-family);
  text-transform: uppercase;
  letter-spacing: 0.38em;
}

.body-1 {
  font: 700 14px / 18px var(--font-family);
  opacity: 0.6;
}

.body-2 {
  font: 700 12px / 14px var(--font-family);
  opacity: 0.4;
}
