@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin size($w: 0, $h: 0) {
  width: $w;
  height: $h;
}

@mixin absolute-center($top: 50%, $left: 50%) {
  position: absolute;
  top: $top;
  left: $left;
  transform: translate(-$left, -$top);
}

@mixin mobile {
  @media screen and (width <= 600px) {
    @content;
  }
}
