.pomodoro-modes {
  position: relative;
  z-index: 1;

  display: inline-flex;

  min-height: 64px;
  padding: 8px;

  background: var(--color-dark);
  border-radius: 32px;

  &--margin {
    margin: 55px 0 0;
  }

  &__btn {
    @include flex-center;

    @include mobile {
      min-width: 106px;
    }

    cursor: pointer;

    min-width: 120px;
    min-height: 48px;
    padding-inline: 10px;

    background: transparent;
    border: 0;
    border-radius: 26px;

    transition: background-color 0.3s;

    span {
      @include mobile {
        font-size: 12px;
      }

      font: 700 14px / 1.2 var(--font-family);
      color: var(--color-lavender);
      opacity: 0.4;
      transition:
        color 0.3s,
        opacity 0.3s;
    }

    &--active {
      background: var(--color-accent);

      span {
        color: var(--color-midnight);
        opacity: 1;
      }
    }
  }
}

.pomodoro-session {
  display: flex;
  gap: 8px;
  margin: 15px 0 0;
  padding: 0;

  &__item {
    @include size(10px, 10px);

    list-style-type: none;

    opacity: 0.4;
    background: var(--color-lavender);
    border-radius: 50%;

    transition: opacity 0.3s;

    &--active {
      opacity: 1;
      background: var(--color-accent);
    }
  }
}
